.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 100%;
  width: 100%;
}

.input {
  width: 100%;
}

.error {
  font-size: 0.8rem;
  color: #ff5b5b;
  margin-top: 4px;
}
